@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import './variables.css';
@import './utility-classes.css';


/* Resets */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
    margin: 0;
}

a{
	text-decoration: none;
  	color: inherit;
}


ul,
ol,
li{
	list-style: none;
}

img, picture, video, canvas, svg {
  	display: block;
  	max-width: 100%;
}

input, button, textarea, select {
  	font: inherit;
}

nav li {
	color: currentColor;
}

span {
	display: inline;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* universal styles and layout*/

html{
	height: 100%;
	font-size: 16px;
}

body {
	min-height: 100%;
	background: var(--surface-1);
	color: var(--text-1);
  	font-family: Montserrat;
  	line-height: 1.75;
  	font-size: var(--fs-body);
	display: grid;
}

body > *{
	display: grid;
	grid-template-rows: auto auto auto 1fr auto;
}

.wrapper{
	--element-max-width: var(--fluid-480-1200);
	--inline-padding: 2rem;

	width: min(var(--element-max-width), 100% - (var(--inline-padding) * 2));
	margin-inline: auto;

	@media(width <= 800px){
		--element-max-width: var(--fluid-200-480);
		--inline-padding: .5rem;
	}
}

.flow > * + * {
	/* all els except first, + is next sibling selector */ 
    margin-top: var(--flow-spacer, 3rem);
}

.flow {
	margin-bottom: 3rem;
}

/* general link styles */ 

header,
footer{

	a{
		transition: color .3s ease-in-out;
	}

	a:is(:hover, :focus){
		color: var(--hover-2);
	}
}

p {

	a{
		transition: color .3s ease-in-out;
	}

	a:is(:hover, :focus){
		color: var(--hover-1);
	}
}

.gallery-nav{

	a:is(:hover, :focus){
		color: var(--young-orange-4);
	}
}

a:has(> svg){
	width: max-content;
}

/* typeset styling */

h1,
h2,
h3,
h4 {
	color: var(--text-1);
}

h1 {
    font-size: var(--fs-1000);
    line-height: 1.05;
    text-transform: uppercase;
    font-weight: 800;
    text-wrap: balance;
}

h2{
	font-size: var(--fs-700);
}

p {
	text-wrap: pretty;

	a{
		text-decoration-line: underline;
  		text-decoration-color: var(--accent-1);
  		text-decoration-style: double;
  		text-decoration-thickness: .5px;
  		text-underline-offset: 2px;
	}
}

.darkmode{
	--surface-1: var(--deepslate-8);
	--surface-2: var(--deepslate-8);
	--text-1: var(--young-orange-0);
	--text-2: var(--carrot-4);
	--heading-1: var(--young-orange-0);
	--heading-2: var(--goldenrod-4);
	--accent-1: var(--lime-3);
	--accent-2: var(--deepslate-7);
	--accent-3: var(--lime-0);
	--hover-1: var(--young-orange-3);
	--hover-2: var(--goldenrod-2);

	--doodle-1: var(--lime-3);
	--doodle-2: var(--moon-paper-0);
	--doodle-3: var(--lime-0);
	--doodle-4: var(--lemon-burst-0);

	--opacity-1: 1;
	--nav-window: hsl(100 100% 100% / .2); 
}







